.about {
  padding-inline: 30px;
  background-color: $rose-color;
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__item-one {
    text-align: center;
    h1 {
      width: 200px;
      margin: 30px auto;
      font-family: "Staatliches", sans-serif;
      font-size: 46px;
      line-height: 46px;
      color: $rose-sec-color;
      span {
        color: $white-color;
      }
    }

    p {
      font-family: "Open Sans", serif;
      color: $white-color;
    }
  }

  &__item-two {
    margin-bottom: 39px;
    display: flex;
    justify-content: center;
    img {
      width: 50vw;
    }
  }
}