.header {
  &__nav {
    display: flex;
    justify-content: space-between;

    &__logo img {
      width: 200px;
    }

    &__menu {
      margin: auto 0;
      margin-right: 5%;
      img {
        width: 30px;
      }
    }

    &__list {
      display: none;
    }
  }

  &__main {
    display: flex;
    margin-bottom: 40px;
    flex-direction: column; 
    
    &__side-one {
      display: flex;
      justify-content: center;
      img {
        width: clamp(65%, 100%, 80%);
      }        
    }

    &__side-two {
      position: relative;
      text-align: center;
    
      h1 {
        position: relative;
        margin-top: 30px;
        font-family: "Staatliches", sans-serif;
        font-size: 60px;
        color: $rose-sec-color;
        z-index: 2;
      }
    
      button {
        position: relative;
        margin-top: 20px;
        padding: 15px 30px;
        font-size: 18px;
        border: none;
        border-radius: 19px;
        color: $white-color;
        background-color: $rose-color;
        cursor: pointer;
        z-index: 2;
      }
    
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        width: 120px;
        height: 170px;
        transform: translate(-50%, -50%);
        background: url(../../img/header/paw.png) no-repeat center center;
        background-size: contain;
        pointer-events: none;
        z-index: 1;
        @media (max-width: 767px) {
          left: 70%;
        }
      }
    }    
  }
}