.media {
  margin-bottom: 10px;
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__block {
    width: calc(100%);
    padding-top: 65%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__block:nth-child(1) {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url('../../img/main/media/background.webp');

    p {
      margin: 0;
      position: absolute;
      top: 30%;
      width: 210px;
      text-transform: uppercase;
      text-align: center;
      line-height: 46px;
      font-size: 46px;
      letter-spacing: 1px;
      font-family: "Staatliches", sans-serif;
      color: $rose-sec-color;
      z-index: 2;

      span {
        color: $white-color;
      }
    }

    img {
      position: absolute;
      top: 1%;
      height: 100%;
      width: auto;
      z-index: 1;

      &:nth-child(2) {
        left: 0;
      }

      &:last-child {
        right: 5%;
      }
    }
  }

  &__block:nth-child(2) {
    background-image: url('../../img/main/media/2.jpeg');
  }

  &__block:nth-child(3) {
    background-image: url('../../img/main/media/3.jpeg');
    background-position: center 80%;
  }

  &__block:nth-child(4) {
    background-image: url('../../img/main/media/4.webp');
    background-position: center 35%;
  }

  &__block:nth-child(5) {
    background-image: url('../../img/main/media/5.webp');
  }

  &__block:nth-child(6) {
    background-image: url('../../img/main/media/6.webp');
    background-position: center 80%;
  }
}

@media (min-width: 500px) {
  .media {
    &__block {
      width: calc(50%);
      padding-top: 50%;
    }
  
    &__block:nth-child(1) img:last-child {
      right: -10%;
    }
  
    &__block:nth-child(2) {
      background-position: left;
    }
  
    &__block:nth-child(3) {
      background-position: center 80%;
    }
  
    &__block:nth-child(4) {
      background-position: center 35%;
    }
  
    &__block:nth-child(5) {
      background-position: center 10%;
    }
  
    &__block:nth-child(6) {
      background-position: center 80%;
    }
  }
}

@media (min-width: 768px) {
  .media {
    &__block {
      width: calc(33.33% - 5px);
      margin-bottom: 5px;
      padding-top: 20%;
    }
  
    &__block:nth-child(1) img:last-child {
      right: 5%;
    }
  
    &__block:nth-child(2) {
      background-position: left;
    }
  
    &__block:nth-child(3) {
      background-position: center 80%;
    }
  
    &__block:nth-child(4) {
      background-position: center 40%;
    }
  
    &__block:nth-child(5) {
      background-position: center 45%;
    }
  
    &__block:nth-child(6) {
      background-position: center 75%;
    }
  }
}