.services {
  padding-inline: 46px;
  font-family: "Open Sans", serif;

  h1 {
    text-transform: uppercase;
    text-align: center;
    word-spacing: 20px;
    letter-spacing: 3px;
    font-family: "Staatliches", sans-serif;
    font-size: 46px;
    color: $rose-sec-color;
  }

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 22px;
  }

  &__item {
    height: 280px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    box-sizing: border-box;

    img {
      object-fit: contain;
    }

    h2 {
      margin: 0;
      padding-top: 10px;
      font-family: "Rubik Mono One", serif;
      font-size: 20px;
    }

    p:first-of-type {
      width: 170px;
      margin: 20px 0 0 0 ;
    }
  
    p:last-of-type {
      margin: 0;
      padding-top: 29px;
    }
  }

  &__item:first-child img {
    width: 26px;
    height: 60px;
  }
  &__item:nth-child(2) img {
    width: 49px;
    height: 60px;
  }
  &__item:nth-child(3) {
    img {
      padding-top: 17px;
      width: 51px;
      height: 42px;
    }
    p {
      width: 200px;
    }
    p:last-of-type {
      padding-top: 51px;
    }
  }
  &__item:nth-child(4) {
    img {
      padding-top: 30px;
      width: 75px;
      height: 29px;
    }
    p {
      width: 220px;
    }
  }
  &__item:nth-child(5) {
    img {
      padding-top: 7px;
      width: 43px;
      height: 53px;
    }
    p {
      width: 290px;
    }
    p:last-of-type {
      padding-top: 7px;
    }
  }

  &__info {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    img {
      height: 20px;
    }
  }
}